<h1>Listing materials</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @materials.each do |material| %>
  <tr>
    <td><%= material.name %></td>
    <td><%= link_to 'Show', material %></td>
    <td><%= link_to 'Edit', edit_material_path(material) %></td>
    <td><%= link_to 'Destroy', material, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= form_tag search_materials_path, :method => :get do %>
  <%= text_field_tag 'term' %>
  <%= submit_tag "Search" %>
<% end %>

<br />
<br />

<%= link_to 'New Material', new_material_path %>
